{% extends 'base.html' %}
{% block content %}
<section id="contact-response" class="py-5">
    <div class="container">
        <h2>Thank you for your submission!</h2>
        <p>We have received your message. We will get back to you as soon as possible.</p>
        <p>Form data submitted:</p>
        <ul>
            <li><strong>Name:</strong> {{ form.name }}</li>
            <li><strong>Email:</strong> {{ form.email }}</li>
            <li><strong>Phone:</strong> {{ form.phone }}</li>
            <li><strong>Message:</strong> {{ form.message }}</li>
        </ul>
        {% if form.errors %}
    <ul class="error-list">
        {% for field_name, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


    </div>
</section>
{% endblock content %}
