{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-4">Your Trusted Partner in Legal Matters</h1>
    <p class="lead">
  Compromise Law Firm is dedicated to delivering high-quality legal services tailored to meet the unique needs of individuals and businesses. Our team of experienced attorneys is committed to providing comprehensive solutions that align with your legal requirements and objectives.

  Whether you're an individual seeking guidance on personal legal matters or a business navigating complex legal challenges, we're here to offer reliable advice and representation. From contract reviews and negotiations to litigation support, our firm is your trusted partner in achieving legal success.
</p>

  </div>
</div>
{% endblock %}