{% extends 'base.html' %}

{% block content %}
  <section id="services" class="py-5">
    <div class="container">
      <h2 data-i18n="our_services">Our Services</h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 d-flex flex-column">
            <i class="fa fa-gavel fa-3x" aria-hidden="true"></i>
            <div class="card-body flex-grow-1">
              <h5 class="card-title" data-i18n="legal_consultation">Legal Consultation</h5>
              <p class="card-text" data-i18n="legal_consultation_desc">Expert legal advice to guide you through complex issues.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 d-flex flex-column">
            <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
            <div class="card-body flex-grow-1">
              <h5 class="card-title" data-i18n="litigation_support">Litigation Support</h5>
              <p class="card-text" data-i18n="litigation_support_desc">Representation and support during legal disputes and litigation.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 d-flex flex-column">
            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
            <div class="card-body flex-grow-1">
              <h5 class="card-title" data-i18n="real_estate_transactions">Real Estate Transactions</h5>
              <p class="card-text" data-i18n="real_estate_transactions_desc">Assistance with buying, selling, and leasing real estate properties.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
